<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tele-Med</title>
    <link rel="stylesheet" >
    {% load static  %}
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}" >
    <link rel="stylesheet" href="{% static 'index.css' %}">
    
    <script src="https://kit.fontawesome.com/b09e468a2d.js" crossorigin="anonymous"></script>
</head>
<body>


    <div class="container">
        <div class="header">
            <div class="logo"><img src="/media/logo-removebug.png" height="35px">Tele-Med</div>
        </div>
        <div class="main">


            <div class="right_section" > 
    <form id="form_group" onsubmit="getanswer()" method="POST" action="">
                        {% csrf_token %}
                <div class="content" style="background: url('https://wallpaperset.com/w/full/1/a/e/529286.jpg');">
                    <div class="info">
                        {% comment %} <pre> {{som}}</pre> {% endcomment %}
                        <textarea style="background: url('https://wallpaperset.com/w/full/1/a/e/529286.jpg');" id="textarea_id"  name="data" >{{formValue}}</textarea> 
                    </div>
                </div>

                <div class="entry" style="background: url('https://wallpaperset.com/w/full/1/a/e/529286.jpg');" >

                        <input type="text" placeholder="enter the text" id="entryField" name="entryField">
                        <input type="submit" id="submit_button" value="&#11000" name="submit_button">


                </div>
            </form>
            </div>

        </div>
    </div>
    <script src="{% static 'index.js' %}"></script>
</body>
</html>