<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tele-Med</title>
    {% load static  %}
    <link rel="shortcut icon" type="/media/jpg" href="{% static '/media/Tele-Med.jpg' %}" >
    <link rel="stylesheet" href="{% static 'login.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <script src="https://kit.fontawesome.com/b09e468a2d.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="layout">
        <div class="header" style="color: white;">
            <header class="header-text"
                style="height: 100%;background-color: rgb(21, 21, 21);display: flex;align-items: center;justify-content: center;font-size: 2rem;">
                <img src="/media/Tele-Med.jpg" height="35px"></img>Tele-Med
            </header>
        </div>
        <div class="main">

            <div class="content">
                <div id="block"> <!--content SHOULD BE place below -->

                    <div id="centerSection">
                        <div id="centerSectionText" data-aos="fade-up">
                            <!-- data-aos="fade-in" -->
                            <h1>Tele-Med</h1>
                            The chatbot utilizes an open AI model to analyze the provided symptoms and provide a suitable diagnosis based on the provided content:<br>
                            *Pretrained AI model for diagnosis.<br>
                            *Text preprocessing to clean and format the extracted text.

                        </div>
                        <div class="joinCreateSection">
                            <div class="JoinCreateButton" id="centerSectionJoinButton"><a href="index/" id="Start">Start</a></div>
                        </div>

                    </div>
                </div>

            </div>

        </div>

    </div>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init({
            duration: 1000,
            offset: 50,
        });
    </script>
    <script src="{% static 'login.js' %}"></script>
</body>

</html>

<!-- aos github -->