@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;

}

.container {
    background-color: rgb(236, 232, 243);
    height: 100vh;
    width: 100vw;
    overflow:hidden;
    position: relative;
}

.header {
    width: 100vw;
    height: 8vh;
    position: relative;
    background: url("https://wallpaperset.com/w/full/1/a/e/529286.jpg");
    padding: 0.5rem;
    box-sizing: border-box;
}

.main {
    width: 100vw;
    height: 92vh;
    position: relative;
    display: flex;

}
.logo{
    color:  white;
    font-size: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: center;

    letter-spacing: 0.8px;
}
.left_section {
    background-color: #191818;
    width: 20vw;
    height: 100%;
    background-size: cover;
}

.right_section {
    width: 100%;
    height: 100%;
    
}

.content {
    width: 100%;
    background-color: #dcd3d3;
    height: 80%;
    padding:5rem;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    background-image: url('https://www.shutterstock.com/image-photo/medicine-doctor-touching-electronic-medical-260nw-1169699956.jpg');
    background-size: cover;
    
}
textarea{
width: 99%;
height: 80%;
color:rgb(246, 242, 242);
font-size:1.2em;
}
 textarea ::-webkit-scrollbar-thumb{
  background-color: rgb(191, 211, 200);
  border-color:rgb(1, 241, 113); 
}
textarea::-webkit-scrollbar {
    width: 5px;
}
.info{
    width: 100%;
    height: 100%;
    word-spacing: 5px;
    line-height: 27px;
    font-size: 1.8rem;
    /* border-radius: 10px; */
    font-weight: 500;
    color: white;
    overflow: auto;
}

.info::-webkit-scrollbar {
    width: 5px;
}

.info::-webkit-scrollbar-thumb {
    background-color: white;
}

.entry {
    width: 100%;
    height: 20%;
    display: grid;
    place-items: center;
}
#entryField{
    width: 90rem;
    height: 5rem;
    color: white;
    background: url("https://wallpaperset.com/w/full/1/a/e/529286.jpg");
    padding: 0.5rem 0.8rem;
    border-radius: 15px;
    border: none;
    outline: 2px solid rgb(0, 255, 149);
    outline-offset: 3px;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 1.5rem;
    letter-spacing: 0.8px;
    position: relative;
}
input::placeholder{
    color: white;
    font-weight: 500;
    font-size: 1.5rem;
    letter-spacing: 0.8px;
}
#form_group{
    position: relative;
    width:100vw;
    height:100%;
}
#submit_button{
    position: absolute;
    right: 0;
    cursor: pointer;
    background-color: transparent;
    border: none;
    width: 15%;
    border-radius: 0px 20px 20px 0;
    height: 100%;
    color: white;
    font-size: 3rem;
    font-weight: 400;
}